<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <!-- Include the Tailwind CSS CDN -->

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="flex">
    <div th:replace="~{admin/common/sidebar :: sidebar}"></div>
    <div class="container w-full p-4">
        <div class="border-black w-full mx-auto">
            <div class="flex ">
                <a href="/admin/category-management" class="h-fit bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">back</a>
                <h1 class="text-2xl font-bold mb-4">Add New Category</h1>
            </div>
            <form th:if="${category}" th:action="'/admin/category-management/update/' + ${category.id}" method="post" class="max-w-lg border border-black rounded-lg p-5 bg-white" >
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="cate-name"> Category Name </label>
                    <input required th:value="${category.name}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cate-name" type="text" placeholder="Product Name" name="name">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="desc"> Description </label>
                    <textarea required th:field="${category.description}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="desc" placeholder="Description" name="description"></textarea>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Update Category
                </button>
            </form>
            <form th:unless="${category}" action="/admin/category-management/add-category" method="post" class="max-w-lg border border-black rounded-lg p-5 bg-white" >
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="product-name">
                        Category Name
                    </label>
                    <input required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="product-name" type="text" placeholder="Product Name" name="name">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                        Description
                    </label>
                    <textarea required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" placeholder="Description" name="description"></textarea>
                </div>

                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Add new Category
                </button>
            </form>
            <div th:if="${message}" class="bg-green-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline" th:text="${message}"></span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        </svg>
                    </span>
            </div>
            <div th:if="${error}" class="bg-green-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline" th:text="${error}"></span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        </svg>
                    </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
