<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <!-- Include the Tailwind CSS CDN -->

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="flex">
    <div th:replace="~{admin/common/sidebar :: sidebar}"></div>
    <div class=" w-full p-4">
        <div class="border-black w-full mx-auto">
            <div class="flex ">
                <a href="/admin/product-management" class="h-fit bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">back</a>
                <h1 class="text-2xl font-bold mb-4">Add New Product</h1>
            </div>
            <form th:unless="${product}" action="/admin/product-management/add-product" method="post" class="max-w-7xl mx-auto border border-black rounded-lg p-5 bg-white" enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="product-name">
                        Product Name
                    </label>
                    <input id="product-name"  name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Product Name">
                </div>
                <div class="flex flex-row gap-3">
                    <div class="mb-4 ">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="brand">
                            Brand
                        </label>
                        <input id="brand" name="brand" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Brand">
                    </div>
                    <div class="mb-4 ">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="operatingSystem">
                            Operating System
                        </label>
                        <input id="operatingSystem" name="operatingSystem" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Brand">
                    </div>
                    <div class="mb-4 ">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="cpu">
                            CPU
                        </label>
                        <input id="cpu" name="cpu" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Brand">
                    </div>
                </div>
                <div class="flex flex-row gap-3">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="ram">
                            Ram(GB)
                        </label>
                        <input id="ram" name="ram" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Ram">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="rom">
                            rom(GB)
                        </label>
                        <input id="rom" name="rom" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Rom">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="screenSizes">
                            Screen Sizes(inch)
                        </label>
                        <input id="screenSizes" name="screenSizes" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Brand">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="batteryCapacity">
                            Battery Capacity(mAh)
                        </label>
                        <input id="batteryCapacity" name="batteryCapacity" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Brand">
                    </div>
                </div>


                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                        Description
                    </label>
                    <textarea required id="description" name="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Description"></textarea>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                        Category
                    </label>
                    <select id="category" name="categoryId" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option th:each="cate : ${categories}" th:text="${cate.name}" th:value="${cate.id}"></option>
                    </select>
                </div>
                <div class="mb-4" id="color-inputs">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Colors
                    </label>
                    <div id="color-input-1" class="flex mb-2">
                        <input name="colors[0]" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Color name">
                    </div>
                </div>
                <div class="mb-4">
                    <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="addColorField()">
                        Add Color
                    </button>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="image-upload">
                        Product Image
                    </label>
                    <input type="file" name="files" id="image-upload" multiple="multiple" required />
                    <div id="image-preview-container" class="flex gap-2 max-w-full flex-wrap"></div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                        Price(VND)
                    </label>
                    <input id="price" name="price" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Price" >
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Add Product
                </button>
            </form>
            <div th:if="${product}" th:replace="~{admin/_form_edit_product :: _form_edit_product(${product}, ${categories})}"></div>

            <div th:if="${message}" class="bg-green-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline" th:text="${message}"></span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        </svg>
                    </span>
            </div>
            <div th:if="${error}" class="bg-green-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline" th:text="${error}"></span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        </svg>
                    </span>
            </div>
        </div>
    </div>
</div>
<script>
    let colorCount = 0;

    function addColorField() {
        colorCount++;
        const colorInputs = document.getElementById('color-inputs');
        const newColorField = document.createElement('div');
        newColorField.id = `color-input-${colorCount}`;
        newColorField.classList.add('flex', 'mb-2');
        newColorField.innerHTML = `
                <input name="colors[${colorCount}]" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Color name">
                <button type="button" class="ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="removeColorField('color-input-${colorCount}')">
                    Remove
                </button>
            `;
        colorInputs.appendChild(newColorField);
    }

    function removeColorField(id) {
        const element = document.getElementById(id);
        element.parentNode.removeChild(element);
    }
    document.getElementById('image-upload').addEventListener('change', function(event) {
        const files = event.target.files;
        const imagePreviewContainer = document.getElementById('image-preview-container');
        imagePreviewContainer.innerHTML = ''; // Xóa xem trước cũ nếu có

        Array.from(files).forEach(file => {
            // hiển thị tối đa 3 ảnh preview, nếu nhiều hơn thì hiện text "còn nữa"
            if(imagePreviewContainer.childElementCount >= 3) {
                const text = document.createElement('span');
                text.innerText = 'Còn nữa';
                imagePreviewContainer.appendChild(text);
                return;
            }
            if(file.size > 1024 * 1024 * 2) {
                alert('File size must be less than 2MB');
                return;
            }
            if (file && file.type.match('image.*')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px'; // Đặt kích thước xem trước
                    img.style.maxHeight = '200px';
                    img.style.margin = '5px'; // Tạo một khoảng cách nhỏ giữa các hình ảnh
                    imagePreviewContainer.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>
</body>
</html>
