<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
    <style>
        @layer utilities {
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        #messageContainer {
            @apply hidden bg-red-800;
        }
    </style>
</head>
<body>
<div th:replace="~{layout/header :: header(fullname, email)}"></div>
<div class="h-screen bg-gray-100 pt-20 rounded-lg">
    <div class="w-2/3 mx-auto rounded-lg p-5">
        <div class="flex justify-between w-full mx-auto">
            <a href="#" onclick="window.history.back()"
               class="h-fit bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
            <div></div>
        </div>
        <div class="mx-auto justify-center px-6 md:flex md:space-x-6 xl:px-0" th:if="${cart.getCartItems().size() == 0}">
            Cart is empty!
        </div>
        <form method="post" action="/order/order-item-selected">
            <div class="mx-auto justify-center px-6 md:flex md:space-x-6 xl:px-0" th:if="${cart != null}">
                <div class="rounded-lg md:w-2/3">
                    <div class="gap-5 justify-between mb-6 p-6 shadow-md sm:flex sm:justify-start  border rounded-lg bg-white"
                         th:id="'product-item-' + ${item.getProduct().getId()}"
                         th:each="item, index :${cart.getCartItems()}">
                        <div class="flex items-center mr-4">
                            <input type="checkbox" name="selectedItems" class="product-checkbox" th:id="${item.getProduct().getId()}" th:value="${item.getId()}"
                            th:data-product-id="${item.getProduct().getId()}"
                            onclick="updateTotal(this)">
                        </div>
                        <div class="min-h-32">
                            <img th:src="${item.getProduct().getImages().get(0).urlImage}"
                                 alt="product-image" class="w-full rounded-lg sm:w-40  object-cover"/>
                        </div>
                        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                            <div class="mt-5 sm:mt-0">
                                <h2 class="text-xl font-bold text-gray-900" th:text="${item.getProduct().getName()}">Nike
                                    Air
                                    Max 2019</h2>
                                <p class="mt-1 text-lg text-gray-700 font-semibold"
                                   th:text="${#numbers.formatDecimal(item.getProduct().getPrice(), 0, 'COMMA', 0, 'POINT')} + ' VND'">
                                    36EU - 4US</p>
                            </div>
                            <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block">
                                <div class="flex items-center border-gray-200 border px-1 w-full">
                                    <button type="button" onclick="updateQuantityItemInCart(this)"
                                            th:data-user-id="${userId}"
                                            th:data-product-id="${item.getProduct().getId()}"
                                            th:data-quantity="-1">
                                        <span class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                            -
                                        </span>
                                    </button>
                                    <p class="mx-3 px-2 h-8 w-fit text-lg border bg-white text-center outline-none"
                                       th:id="'quantityProduct'+${item.getProduct().getId()}"
                                       th:text="${item.getQuantity()}">456</p>
                                    <button type="button" onclick="updateQuantityItemInCart(this)"
                                            th:data-user-id="${userId}"
                                            th:data-product-id="${item.getProduct().getId()}"
                                            th:data-quantity="1">
                                        <span class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                            +
                                        </span>
                                    </button>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <p class="text-sm" th:id="'totalPriceItem'+${item.getProduct().getId()}"
                                       th:text="${#numbers.formatDecimal(item.getTotalPrice(), 0, 'COMMA', 0, 'POINT')  } + ' VND'">
                                        259.000 ₭</p>
                                    <button type="button" th:id="'deleteItem' + ${item.getProduct().getId()}"
                                            th:data-user-id="${userId}"
                                            th:data-product-id="${item.getProduct().getId()}"
                                            onclick="removeProductFromCart(this)">
                                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" height="1em"
                                             viewBox="0 0 448 512" fill="#b5013e">
                                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sub total -->
                <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
                    <div class="mb-2 flex justify-between">
                        <p class="text-gray-700">Subtotal</p>
                        <p class="text-gray-700" id="totalPrice1">
                            0 VND
                        </p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-gray-700">Shipping</p>
                        <p class="text-gray-700">0 VND</p>
                    </div>
                    <hr class="my-4"/>
                    <div class="flex justify-between">
                        <p class="text-lg font-bold">Total</p>
                        <div class="">
                            <p class="mb-1 text-lg font-bold" id="totalPrice">
<!--                               th:text="${#numbers.formatDecimal(cart.getTotalPrice(), 0, 'COMMA', 0, 'POINT')  } + ' VND'"-->
                                0 USD</p>
                            <p class="text-sm text-gray-700">including VAT</p>
                        </div>
                    </div>
                    <button id="submitButton" type="submit" class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
                        Check out
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const submitButton = document.getElementById('submitButton');
        const checkboxes = document.querySelectorAll('.product-checkbox');
        const toggleSubmitButton = () => {
            const isAnyCheckboxChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            submitButton.disabled = !isAnyCheckboxChecked;
        };
        toggleSubmitButton();
        checkboxes.forEach(checkbox => checkbox.addEventListener('change', toggleSubmitButton));
    });
</script>
<script>
    const userId = [[${userId}]];
    function productIdsChecked() {
        var checkboxes = document.querySelectorAll('.product-checkbox');
        var total = Array.from(checkboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => parseFloat(checkbox.getAttribute('data-product-id')));
        console.log(total);
        return total;
    }
    function updateTotal(element) {
        productIds = productIdsChecked();
        console.log("Products: "+productIds);
        loadData(productIds);
    }
    loadData(productIdsChecked());
     function loadData(total) {
         var data = {
             userId: userId,
             listProductId: total
         };
         console.log(data);
         $.ajax({
             url: '/api/cart/total-price-item',
             type: 'POST',
             contentType: 'application/json',
             data: JSON.stringify(data),
             success: function (response) {
                 console.log("Response: ", response);
                 $('#totalPrice').text(formatPrice(response.totalPriceItemSelected));
                 $('#totalPrice1').text(formatPrice(response.totalPriceItemSelected));
             },
             error: function (xhr, status, error) {
                 console.error("Error: ", error);
             }
         });
     }
    function updateQuantityItemInCart(element) {
        var productId = element.getAttribute('data-product-id');
        var quantity = element.getAttribute('data-quantity');

        var data = {
            userId: userId,
            productId: productId,
            quantity: quantity
        };
        console.log(data);
        $.ajax({
            url: '/api/cart/update-item',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                console.log("Response: ", response);
                $('#quantityProduct' + productId).text(response.quantity);
                $('#totalPriceItem' + productId).text(formatPrice(response.totalPriceItem));
                loadData(productIdsChecked());

            },
            error: function (xhr, status, error) {
                console.error("Error: ", error);
                slideMessage('Error', 'Error when update quantity item in cart');
            }
        });
    }

    function removeProductFromCart(element) {
        var productId = element.getAttribute('data-product-id');
        var data = {
            userId: userId,
            productId: productId
        }
        $.ajax({
            url: 'api/cart/delete-item',
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                $('#product-item-' + productId).remove();
                $('#totalPrice').text(formatPrice(response.totalPrice));
                loadData(productIdsChecked());
            },
            error: function(error) {
                console.error("Có lỗi xảy ra: ", error);
            }
        });
    }
    function formatPrice(value) {
        return value.toLocaleString('vi-VN').replace(/\./g, ',') + " VND";
    }
</script>
</body>

</html>