<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        @layer utilities {

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    </style>
</head>

<body>
<!--<nav-->
<!--        class="relative bg-white dark:bg-gray-900  w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">-->
<!--    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">-->
<!--        <a href="/src/index.html" class="flex items-center object-cover">-->
<!--            <img src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"-->
<!--                 class="w-full h-16 mr-3 object-cover" alt="Flowbite Logo">-->
<!--            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Shopping</span>-->
<!--        </a>-->
<!--        <div class="flex md:order-2 items-center">-->
<!--            <div class="relative  text-left flex items-center gap-3">-->
<!--                <div>-->
<!--                    <button class="border-2 border-gray-300 border-separate rounded-full">-->
<!--                        <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown"-->
<!--                             data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer"-->
<!--                             src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"-->
<!--                             alt="User dropdown">-->
<!--                    </button>-->
<!--                    &lt;!&ndash; Dropdown menu &ndash;&gt;-->
<!--                    <div id="userDropdown"-->
<!--                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">-->
<!--                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">-->
<!--                            <div>Bonnie Green</div>-->
<!--                            <div class="font-medium truncate">name@flowbite.com</div>-->
<!--                        </div>-->
<!--                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">-->
<!--                            <li>-->
<!--                                <a href="#"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="py-1">-->
<!--                            <a href="#"-->
<!--                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign-->
<!--                                out</a>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

<!--                <button class="w-7"><a href="/src/cart.html"><img class="w-full" src="/images/cart_icon.svg"-->
<!--                                                                  alt=""></a></button>-->
<!--                &lt;!&ndash; <div class="hidden lg:flex lg:flex-1 lg:justify-end">-->
<!--                    <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span-->
<!--                            aria-hidden="true">&rarr;</span></a>-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="items-center justify-between hidden] md:flex md:w-auto md:order-1" id="navbar-sticky">-->

<!--            <form class="w-[500px] flex items-center">-->
<!--                <label for="simple-search" class="sr-only">Search</label>-->
<!--                <div class="relative w-full">-->
<!--                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">-->
<!--                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"-->
<!--                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">-->
<!--                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"-->
<!--                                  stroke-width="2"-->
<!--                                  d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <input type="text" id="simple-search"-->
<!--                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"-->
<!--                           placeholder="Search branch name..." required>-->
<!--                </div>-->
<!--                <button type="submit"-->
<!--                        class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">-->
<!--                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
<!--                         viewBox="0 0 20 20">-->
<!--                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />-->
<!--                    </svg>-->
<!--                    <span class="sr-only">Search</span>-->
<!--                </button>-->
<!--            </form>-->


<!--            &lt;!&ndash; <ul-->
<!--                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">-->
<!--                <li>-->
<!--                    <a href="#"-->
<!--                        class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"-->
<!--                        aria-current="page">Home</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#"-->
<!--                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#"-->
<!--                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#"-->
<!--                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>-->
<!--                </li>-->
<!--            </ul> &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<div th:replace="~{layout/header :: header(fullname, email)}"></div>
<div class="h-screen bg-gray-100 pt-20">
    <a href="#" onclick="window.history.back()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>

    <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
        <div class="rounded-lg md:w-2/3">
            <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                     alt="product-image" class="w-full rounded-lg sm:w-40" />
                <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                    <div class="mt-5 sm:mt-0">
                        <h2 class="text-lg font-bold text-gray-900">Nike Air Max 2019</h2>
                        <p class="mt-1 text-xs text-gray-700">36EU - 4US</p>
                    </div>
                    <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                        <div class="flex items-center border-gray-100">
                                <span
                                        class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                    - </span>
                            <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number"
                                   value="2" min="1" />
                            <span
                                    class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                    + </span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <p class="text-sm">259.000 ₭</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                <img src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                     alt="product-image" class="w-full rounded-lg sm:w-40" />
                <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                    <div class="mt-5 sm:mt-0">
                        <h2 class="text-lg font-bold text-gray-900">Nike Air Max 2019</h2>
                        <p class="mt-1 text-xs text-gray-700">36EU - 4US</p>
                    </div>
                    <div class="mt-4 flex justify-between im sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                        <div class="flex items-center border-gray-100">
                                <span
                                        class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                    - </span>
                            <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number"
                                   value="2" min="1" />
                            <span
                                    class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50">
                                    + </span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <p class="text-sm">259.000 ₭</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sub total -->
        <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
            <div class="mb-2 flex justify-between">
                <p class="text-gray-700">Subtotal</p>
                <p class="text-gray-700">$129.99</p>
            </div>
            <div class="flex justify-between">
                <p class="text-gray-700">Shipping</p>
                <p class="text-gray-700">$4.99</p>
            </div>
            <hr class="my-4" />
            <div class="flex justify-between">
                <p class="text-lg font-bold">Total</p>
                <div class="">
                    <p class="mb-1 text-lg font-bold">$134.98 USD</p>
                    <p class="text-sm text-gray-700">including VAT</p>
                </div>
            </div>
            <button
                    class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Check
                out</button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>