<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body class="w-full h-full">
<div th:replace="~{layout/header :: header(fullname, email)}"></div>
<main class="container m-auto flex justify-center gap-x-4">
    <div class="w-1/6 h-96 mt-16">
        <div class=" grid grid-cols-2 gap-y-2 my-10">
            <p class="font-bold col-span-2">Hãng sản xuất</p>
            <div class="col-span-1">
                <input class="rounded-md" type="checkbox" name="samsung" id="samsung">
                <label for="samsung">Samsung</label>
            </div>
            <div class="col-span-1">
                <input class="rounded-md" type="checkbox" name="apple" id="apple">
                <label for="apple">Apple(IPhone)</label>
            </div>
            <div>
                <input class="rounded-md" type="checkbox" name="oppo" id="oppo">
                <label for="oppo">Oppo</label>
            </div>
            <div>
                <input class="rounded-md" type="checkbox" name="xiaomi" id="xiaomi">
                <label for="xiaomi">Xiaomi</label>
            </div>
            <div>
                <input class="rounded-md" type="checkbox" name="realme" id="realme">
                <label for="realme">Realme</label>
            </div>
        </div>
        <div class=" grid grid-cols-1 gap-y-2">
            <p class="font-bold col-span-1">Mức giá</p>
            <div class="col-span-1">
                <input class="checked:accent-red-600 rounded-md" type="radio" name="price" id="">
                <label for="">Tất cả</label>
            </div>
            <div class="col-span-1">
                <input class="rounded-md" type="radio" name="price" id="price">
                <label for="apple">Dưới 2 triệu</label>
            </div>
            <div>
                <input class="rounded-md" type="radio" name="price">
                <label for="oppo">Từ 2 đến 4 triệu</label>
            </div>
            <div>
                <input class="rounded-md" type="radio" name="price">
                <label for="xiaomi">Từ 4 đến 7 triệu</label>
            </div>
            <div>
                <input class="rounded-md" type="radio" name="price">
                <label for="realme">Từ 7 đến 13 triệu</label>
            </div>
            <div>
                <input class="rounded-md" type="radio" name="price">
                <label for="samsung">Trên 13 triệu</label>
            </div>
        </div>
    </div>
    <div class="w-2/3 bg-white mt-10">
        <div class=" border  rounded-xl p-4">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>
            <div class="w-full h-10">
                <p class="inline-block">Ưu tiên xem:</p>
                <button class="border bg-gray-200 px-2">Giá thấp đến cao</button>
                <button class="border bg-gray-200 px-2">Giá cao đến thấp</button>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 ">
                <div th:data-product-id="${product.getId()}"
                        onclick="redirectToProductDetail(this)" class="group relative border rounded-xl" th:each="product, index : ${products}">
                    <div class="absolute bg-primary-red text-white rounded-r-xl px-2 mt-1">Discount 10%</div>
                    <div
                            class="h-fit aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 ">
                        <img th:src="${product.getImages().get(0).getUrlImage()}"
                             alt="Front of men&#039;s Basic Tee in black."
                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    </div>
                    <div class="mt-4 flex flex-col justify-between px-2">
                        <div>
                            <h3 class="text-md text-gray-700">
                                <a href="#">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    <span th:text="${product.getName()}"></span>
                                </a>
                            </h3>
                        </div>
                        <div class="flex justify-between">
                            <p class="text-primary-red text-xl font-medium ">18.991.000</p>
                            <p class="text-sm font-medium text-gray-900 line-through">20.990.000</p>
                        </div>
                    </div>
                </div>
                <script>
                    function redirectToProductDetail(event) {
                        var productId = event.getAttribute('data-product-id');
                        var productDetailUrl = '/product/' + productId; // Update the URL structure as needed
                        window.location.href = productDetailUrl;
                    }
                </script>
            </div>
        </div>
    </div>
</main>
<footer class=""></footer>
<script src="/javascripts/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>